.close-btn-booking {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    z-index: 2;
    padding: 0;
  }

.floating-booking img {
    width: 100%;
    border-radius: 10px;
    height: 200px;       /* Fast højde */
    object-fit: cover;
  }